<html ng-app>
<head>
	<title>Pegenalan Dan Cara Menggunakan AngularJS | MalasNgoding.com</title>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
</head>
<body>
	<h1>Pegenalan Dan Cara Menggunakan AngularJS | MalasNgoding.com</h1>
	{{ " Tutorial angularJS | MalasNgoding.com " }}
	<br/>
	<br/>
	{{ 25 + 25 }}
</body>
</html>